<div class="container">
	<section class="section">
		<h1 class="title">Contact</h1>
		<div class="column is-full">
			<form #formulario="ngForm" (ngSubmit)="onSubmit(formulario)" novalidate>
				<div class="control" [ngStyle]="{'padding':'2px','color':'blue'}">
					<label class="label">Username</label>&nbsp;
					<input type="text" name="user" required ngModel #user="ngModel"/>
				</div>
				<div class="control" [ngStyle]="{'padding':'2px','color':'blue'}">
					<label class="label">Email</label>&nbsp;
					<input type="text" name="email" required ngModel #email="ngModel"/>
				</div>
                <br/><input type="submit" [disabled]="!formulario.valid"/>
            </form>
		</div>
	</section>
	<section>
        <br/>
        <p>Datos formuario: {{formulario.value | json}}</p>
        <p>Validación formulario: {{formulario.valid}}</p>
    </section>
</div>
